<html>
	<head>
		<link rel="stylesheet" href="../../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../css/master.css">
	</head>
	<body>
		<div class="row">
			<div class="col-lg-12">
				<div id="title-bar">
					<h1>Upload Data</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div id="upload">
					<p>drag data here</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div id="controls">
					<h1>Controls</h1>

					<div class="text-box">
						X-Data:
					</div>
					<div class="text-box">
						Y-Data:
					</div>
				</div>
			</div>
		</div>
	</body>