@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
.main-font {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 300;
}
.big-font {
  font-size: 26px;
}
.small-font {
  font-size: 14px;
}
.stronger-font {
  font-weight: 700;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.no-space {
  margin: 0;
}
.no-pad {
  padding: 0;
}
.small-pad {
  padding: .5em;
}
.med-pad {
  padding: 1.5em;
}
.big-pad {
  padding: 2.5em;
}
.huge-pad {
  padding: 10em;
}
.small-margin {
  margin: .5em;
}
.med-margin {
  margin: 1.5em;
}
.big-margin {
  margin: 2.5em;
}
.bordered {
  border: 1px solid #777777;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
html,
body {
  background-color: #e5e5e5;
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  color: #000000;
  text-align: center;
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 300;
  margin: 0;
}
strong {
  font-weight: 700;
}
form {
  font-size: 14px;
}
table {
  padding: 2.5em;
}
#body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 6%;
}
.container {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
}
.viewcontainer {
  display: none;
  width: 100%;
  height: 94%;
  margin: 0;
  padding: 0;
}
.row {
  height: 100%;
  width: 100%;
}
#tagline {
  padding: 10em;
  color: #ffffff;
  background: url('/img/tagline.jpg') no-repeat;
  background-size: 100% auto;
  border-radius: 0;
  -webkit-border-radius: 0;
}
#tagline #tagline-container {
  padding: 1.5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#upload {
  background-color: #e5e5e5;
  height: 100%;
  max-height: 100%;
  text-align: center;
  padding: 2.5em;
}
#upload #upload-container {
  margin: 10% auto 10% auto;
  width: 70%;
  height: 70%;
  padding: 2.5em;
  background: rgba(255, 255, 255, 0.8);
}
#upload #upload-container input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.analysis {
  padding: 1.5em;
  height: 100%;
  background-color: #e5e5e5;
  max-height: 100%;
  overflow: hidden;
}
#title-bar {
  background: url('/img/bombe.png') no-repeat;
  background-position: left center;
  background-size: auto 100%;
  background-color: #1a62aa;
  padding: 0;
  margin: 0;
  height: 6%;
  min-height: 2.5em;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
  box-shadow: 2px 2px 2px #777777;
  z-index: 99999;
}
nav {
  overflow: hidden;
  height: 100%;
  float: right;
  text-align: right;
}
nav ul {
  list-style-type: none;
  padding-right: 1em;
}
nav ul li {
  display: inline;
}
nav ul img {
  width: 2.0em;
  margin: .5em;
  padding-right: .5em;
  padding-top: .2em;
}
#controls {
  background: #e5e5e5;
  border-left: 1px #777777 solid;
  padding: 2.5em;
  height: 100%;
  max-height: 100%;
}
#operate {
  background: #e5e5e5;
  padding: 2.5em;
  height: 100%;
  max-height: 100%;
}
#operate h1,
#operate h2,
#operate h3,
#operate h4 {
  color: #000000;
  margin-top: 2em;
}
#treeview {
  padding: 1.5em;
  height: 100%;
  background-color: #e5e5e5;
  max-height: 100%;
  overflow: scroll;
}
#preview {
  background-color: #e5e5e5;
  border-left: 1px #777777 solid;
  text-align: center;
  padding: 1.5em;
  height: 100%;
  max-height: 100%;
}
#preview .graph {
  height: 60%;
}
#footer {
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
#footer hr {
  border: #777777 1px solid;
}
.logo {
  margin: 0;
  padding: .5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.card-box {
  width: 70%;
  padding: 2.5em;
  margin: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 26px;
  border: 1px solid #777777;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.card-box input,
.card-box select,
.card-box option {
  width: 90%;
}
.text-box {
  padding: .5em;
  margin: .5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}
.text-box h4 {
  display: inline;
  margin: .5em;
}
.text-box select,
.text-box input,
.text-box option {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px #777777 solid;
  width: 100%;
  margin: .5em;
}
.text-box button {
  width: 100%;
  margin: .5em;
}
.graph {
  width: 90%;
  height: 90%;
  background: #ffffff;
  color: #000000;
  padding: 1.5em;
  margin: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #777777;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.graph .title {
  color: #000000;
  text-align: left;
  margin-left: 2.5em;
}
.graph .graphid {
  color: #1a62aa;
  padding: 0;
  margin: 0;
}
.graph .lineage {
  padding: .5em;
  margin: 0;
  float: right;
  max-width: 15em;
}
.plot {
  width: 100%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  overflow: hidden;
}
.operate {
  padding: .5em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0;
}
.tag {
  padding: 2px;
  color: #ffffff;
  background: #1a62aa;
}
.tag:hover {
  background: #1f90c1;
}
.errordisplay {
  background-color: #ff6666;
  color: #990000;
  text-align: center;
  display: none;
  width: 100%;
  padding: .5em;
  margin: 0;
  margin-bottom: 1em;
}
.successdisplay {
  background-color: #66ff66;
  color: #009900;
  text-align: center;
  display: none;
  width: 100%;
  padding: .5em;
  margin: 0;
  margin-bottom: 1em;
}
.infodisplay {
  background-color: #1f90c1;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: .5em;
  margin: 0;
  margin-top: 3em;
}
#graphModal {
  padding-top: 6%;
}
.nodebox {
  fill: #ffffff;
  stroke: #777777;
  stroke-width: 0.8px;
}
.nodebox .active {
  stroke: #1f90c1;
}
.nodebox:hover {
  stroke: #1f90c1;
}
.link {
  fill: none;
  stroke: rgba(119, 119, 119, 0.5);
  stroke-width: 0.2em;
}
.line {
  fill: none;
  stroke: #000000;
  stroke-width: 1.0px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
