@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);
.main-font {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 100;
}
.big-font {
  font-size: 26px;
}
.strong-font {
  font-weight: 300;
}
.stronger-font {
  font-weight: 700;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.no-space {
  margin: 0;
}
.no-pad {
  padding: 0;
}
.small-pad {
  padding: .5em;
}
.med-pad {
  padding: 1.5em;
}
.big-pad {
  padding: 2.5em;
}
.small-margin {
  margin: .5em;
}
.med-margin {
  margin: 1.5em;
}
.big-margin {
  margin: 2.5em;
}
html,
body {
  background-color: #e5e5e5;
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  color: #f0f0f1;
  text-align: center;
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 100;
  margin: 0;
}
strong {
  font-weight: 700;
}
#logo {
  height: 65px;
  margin: 0 auto;
  display: block;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
#upload {
  background: url('../img/upload.svg') no-repeat center;
  background-color: #f0f0f1;
  background-size: 25%;
  height: 40em;
  max-height: 40em;
  padding: 2.5em;
}
#analysis {
  padding: 1.5em;
  height: 40em;
  background-color: #f0f0f1;
  max-height: 40em;
  overflow-y: scroll;
  overflow-x: hidden;
}
#title-bar {
  background: #1a62aa;
  padding: .5em;
  height: 10%;
  min-height: 5em;
}
#controls {
  background: #1f90c1;
  padding: 2.5em;
  height: 40em;
  max-height: 40em;
}
#footer {
  color: #000000;
  text-align: center;
  font-weight: 300;
  padding: 1.5em;
}
#footer hr {
  border: #777777 1px solid;
}
.text-box {
  font-weight: 300;
  padding: .5em;
  margin: .5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80%;
}
.text-box h4 {
  display: inline;
  margin: .5em;
}
.text-box select,
.text-box input,
.text-box option {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px #777777 solid;
  width: 100%;
  margin: .5em;
}
.graph {
  width: 90%;
  height: 35em;
  border: 5px #777777 solid;
  background: #ffffff;
  color: #000000;
  padding: 1.5em;
  margin: 1.5em;
  margin-left: auto;
  margin-right: auto;
}
.graph .title {
  color: #000000;
}
.graph .id {
  color: #f0f0f1;
  background: #1a62aa;
  padding: .5em;
  margin: 0;
  float: left;
  max-width: 5em;
}
.plot {
  width: 100%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .5em;
  border: 1px #777777 solid;
}
.tag {
  padding: 2px;
  color: #f0f0f1;
  background: #1a62aa;
}
.newgraph {
  margin: .5em;
  padding: 1.5em;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.newgraph button {
  width: 100%;
  font-weight: 700;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
