
//Base Colors
@background: #E5E5E5;
@subtle: #777777;
@blank: #FFFFFF;
@translucent: rgba(255, 255, 255, 0.7);
@highlight: #1F90C1;
@dark-highlight: #1A62AA;
@head-font: #F0F0F1;
@body-font: #000000;

//Geometry
@little-height: 5em;
@big-height: 100%;

//Typography
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);
.main-font {
	font-family: 'Lato', 'Helvetica Neue', 'Arial';
	font-weight: 100;
}
.big-font {
	font-size: 26px;
}
.strong-font {
	font-weight: 300;
}
.stronger-font {
	font-weight: 700;
}

//Spacing
.centered {
	margin-left: auto;
	margin-right: auto;
}
.no-space {
	margin: 0;
}
.no-pad {
	padding: 0;
}
.small-pad {
	padding: .5em;
}
.med-pad {
	padding: 1.5em;
}
.big-pad {
	padding: 2.5em;
}
.small-margin {
	margin: .5em;
}
.med-margin {
	margin: 1.5em;
}
.big-margin {
	margin: 2.5em;
}

//General
html, body {
	background-color: @background;
	.main-font;
	.no-space;
	.no-pad;
	color: @body-font;
	min-height: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5 {
	color: @head-font;
	text-align: center;
	.main-font;
	.no-space;
}
strong {
	.stronger-font;
}


//Layout
#body {
	height: @big-height;
}
.container {
	width: 100%;
	height: 100%;
	.no-space;
	.no-pad;
}
#dataimport {
	height: 100%;
}
.row {
	height: 85%;
}
#upload {
	background: url('/img/upload.svg') no-repeat center;
	background-color: @head-font;
	background-size: 25%;
	height: @big-height;
	max-height: @big-height;
	.big-pad;
}
.analysis {
	.med-pad;
	height: @big-height;
	background-color: @head-font;
	max-height: @big-height;
	overflow: hidden;
}
#title-bar {
	background: url('/img/bombe.png') no-repeat center;
	background-size: auto 95%;
	background-color: @dark-highlight;
	.small-pad;
	height: 10%;
	min-height: @little-height;
}
#controls {
	background: @highlight;
	.big-pad;
	height: @big-height;
	max-height: @big-height;
}
#operate {
	background: @head-font;
	.big-pad;
	height: @big-height;
	max-height: @big-height;

	h1, h2, h3, h4 {
		color: @body-font;
		margin-top: 2em;
	}
}
#tree {
	.med-pad;
	height: @big-height;
	background-color: @head-font;
	max-height: @big-height;
	overflow: scroll;
}
#preview {
	background-color: @highlight;
	.med-pad;
	height: @big-height;
	max-height: @big-height;

	.graph {
		height: 80%;
	}
}
#footer {
	color: @body-font;
	text-align: center;
	.strong-font;
	.no-pad;
	.no-space;
	margin-bottom: 1em;

	hr {
		border: @subtle 1px solid;
	}
}

//Objects
.text-box {
	.strong-font;
	.small-pad;
	.small-margin;
	.centered;
	text-align: left;
	width: 80%;
	h4 {
		display: inline;
		.small-margin;
	}
	select, input, option {
		background-color: @translucent;
		border: 1px @subtle solid;
		width: 100%;
		.small-margin;
	}
}
.graph {
	width: 90%;
	height: 90%;
	border: 5px @subtle solid;
	background: @blank;
	color: @body-font;
	.strong-font;
	.med-pad;
	.med-margin;
	.centered;

	.title {
		color: @body-font;
		text-align: left;
		margin-left: 2.5em;
	}

	.id {
		color: @head-font;
		background: @dark-highlight;
		.small-pad;
		.no-space;
		float: left;
		max-width: 5em;
	}

	.lineage {
		.small-pad;
		.no-space;
		float: right;
		max-width: 15em;
	}
}
.plot {
	width: 100%;
	height: 85%;
	.centered;
	margin-top: 2em;
	margin-bottom: 2em;
	.small-pad;
	border: 1px @subtle solid;
}
.tag {
	padding: 2px;
	color: @head-font;
	background: @dark-highlight;
}
.newgraph {
	.small-margin;
	.med-pad;
	.big-font;
	.centered;
	width: 90%;
	button {
		width: 100%;
		.stronger-font;
	}
}

//D3
.node-dot {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3.5px;
}

.nodeTitle {
  font: 10px sans-serif;
  font-weight: bold;
}

.nodeText {
  font-size: 10px;
}

.link {
  fill: none;
  stroke: @subtle;
  stroke-width: 1em;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: @body-font;
  stroke-width: 1.5px;
}


//Bootstrap Overrides
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}
