<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="title-bar">
				<h2>Upload Dataset</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div id="upload"></div>
		</div>
		<div class="col-sm-4">
			<div id="controls">
				<h3>Data Options</h3>
				<br>
				<div class="text-box">
					<div class="row">
						<div class="col-lg-12">
							<h4>X-Data</h4> 
							<select>
								<option>Column 1</option>
							</select>
						</div>
					</div>
				</div>
				<div class="text-box">
					<div class="row">
						<div class="col-lg-12">
							<h4>Y-Data</h4> 
							<select>
								<option>Column 2</option>
							</select>
						</div>
					</div>
				</div>
				<div class="text-box">
					<div class="row">
						<div class="col-lg-12">
							<h4>Ignore</h4> 
							<input type="text" placeholder="#, !, *">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>