<!-- <div id="upload"></div> -->
<div id="analysis">
	<div class="graph">
		<p class="id">#001</p>
		<h2 class="title">Figure 1</h2>
		<div class="plot">
			<p><strong>Divide</strong> <span class="tag">#001</span> by <span class="tag">#002</span></p>
			<p><strong>Fourier Transform</strong> <span class="tag">#001</span></p>
			<p><strong>Interpolate</strong> <span class="tag">#001</span></p>
			<p><strong>Average</strong> <span class="tag">#001</span> and <span class="tag">#002</span></p>
		</div>
	</div>
	<div class="graph">
		<p class="id">#002</p>
		<h2 class="title">Figure 2</h2>
		<div class="plot">
		</div>
	</div>
	<div class="newgraph">
		<button class="btn btn-success"><h1>+</h1></button>
	</div>
</div>