<div class="row">
  <div id="upload" class="col-lg-12">
  <ul class="nav nav-tabs nav-justified">
  <li class="active"><a>Step 1: Upload Data</a></li>
  <li><a>Step 2: Create Graph</a></li>
  </ul>
    <div id="upload-container">
      <form id="importform"
          enctype="multipart/form-data"
          onsubmit="return false;" >
      <div id="import" class="form-group">
        <span class="help-block"> Upload your two-column data file here. Don't have data? Download some <a href="/uploads/real_data.csv">sample data</a> </span><br>
         <input type="file" name="uploadedfile" id="inputfile">
        <!-- <br>
        <button class="btn btn-primary" id="import">Upload</button> -->
      </div>
      </form>
    </div>
  </div>
</div>