<div class="row">
  <div class="card-box">
    <div class="errordisplay"></div>
    <form id="login-form" role="form">
      <h1>User Login</h1>
      <hr>
      <h3>(You need to be logged in to access this page)</h3>
      <br>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Email Address">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button id="login" type="button" class="btn btn-primary">Log In</button>
    </form>
    <br>
    <p class="small-font">Don't have an account? <a href="/#/register" >Sign Up</a></p>
    
  </div>
</div>