<!-- <script src="/js/graph.js"></script> -->
<!-- <script src="/js/operate.js"></script> -->

<div class="row">
  <div class="analysis col-sm-5">
	<div class="graph">
		<div id="plot-before-titlebar">
      <p class="text-left">Graph: #<span class="graphid"></span></p>
      <!-- <p class="lineage"><span class="tag">#001</span> <strong>divided</strong> by <span class="tag">#002</span></p> -->
      <!-- <h3 class="title">Fig. 3</h3> -->
    </div>
		<div id="plot-before" class="plot">
		</div>
	</div>
</div>
  <div id="operate" class="col-sm-2">
    <br>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <h4>Operation</h4> 
          <select>
            <option>Derivative</option>
            <option>Regression Fit</option>
            <option>Spline Fit</option>
            <option>Fourier Transform</option>
          </select>
        </div>
      </div>
    </div>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <h4>X-Min</h4> 
          <input type="text">
        </div>
      </div>
    </div>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <h4>X-Max</h4> 
          <input type="text">
        </div>
      </div>
    </div>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <h4>Real Numbers</h4> 
          <select>
          	<option>True (Real)</option>
          	<option>False (Complex)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <a href="/#/tree"><button class="btn btn-primary operate">Done</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="analysis col-sm-5">
	<div class="graph">
		<div id="plot-after-titlebar">
      <p class="text-left">Graph: #<span class="graphid"></span></p>
      <!-- <p class="lineage"><span class="tag">#001</span> <strong>divided</strong> by <span class="tag">#002</span></p> -->
      <!-- <h3 class="title">Fig. 3</h3> -->
    </div>
		<div id="plot-after" class="plot">
		</div>
	</div>
  </div>
</div>

