<div class="row">
  <div class="analysis col-sm-5">
	<div class="graph">
		<div id="plot-before-titlebar">
      <p class="text-left">Graph: #<span class="graphid"></span></p>
    </div>
		<div id="plot-before" class="plot">
		</div>
	</div>
</div>
  <div id="operate" class="col-sm-2">
    <br>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <h4>Operation</h4> 
          <select id="opselect">
            <option>Select...</option>
            <option value="calculus_differentiate">Derivative</option>
            <option value="stats_poly_regression">Polynomial Regression</option>
            <option value="background_spline">Spline Interpolation</option>
            <option value="background_spline_smooth">Spline Smoothing</option>
            <option value="transform_gaussian_filter">Gaussian Filter</option>
            <option value="transform_fourier">Fourier Transform</option>
          </select>
        </div>
      </div>
    </div>
    <div id="operate-options" class="text-box">
      <div id="operate-textbox"></div>
      <div id="operate-help" class="text-center" ></div>
    </div>
    <div class="text-box">
      <div class="row">
        <div class="col-lg-12">
          <button id="operate-done" class="btn btn-primary operate">Done</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="analysis col-sm-5">
	<div class="graph">
		<div id="plot-after-titlebar">
      <p class="text-left">Graph: #<span class="graphid"></span></p>
    </div>
		<div id="plot-after" class="plot">
		</div>
	</div>
  </div>
</div>

