<div class="row">
  <div class="col-lg-12">
    <div class="card-box">
      <h1>User Profile</h1>
      <br>
      <table class="table table-striped">
        <tr>
          <td>Name:</td><td class="text-right"><p id="user-name"></p></td>
        </tr>
        <tr>
          <td>Email:</td><td class="text-right"><p id="user-email"></p></td>
        </tr>
        <tr>
          <td>Institution:</td><td class="text-right"><p id="user-inst"></p></td>
        </tr>
        <tr>
          <td># of Datasets:</td><td class="text-right"><p id="user-trees"></p></td>
        </tr>
      </table>
    </div>
  </div>
</div>