<!-- <script src="/js/graph.js"></script> -->
<!-- <script src="/js/tree.js"></script> -->

<div class="row">
  <div id="treeview" class="col-sm-7">
  </div>
  <div id="preview" class="col-sm-5">
    <h3>Preview</h3>
    <div class="graph">
    	<div id="plot-preview-titlebar">
			<p class="text-left">Graph: #<span class="graphid"></span></p>
			<!-- <p class="lineage"><span class="tag">#001</span> <strong>divided</strong> by <span class="tag">#002</span></p> -->
			<!-- <h3 class="title">Fig. 3</h3> -->
		</div>
		<div graphid="" id="plot-preview" class="plot">		
		</div>
	</div>

	<button id="edit-graph" class="btn btn-primary operate">Edit Graph</button>

	<button id="create-graph" class="btn btn-success operate">Create New Graph</button>

	<button id="create-graph" class="btn btn-info operate">Export Graph</button>

	<button id="delete-graph" class="btn btn-danger operate">Delete Graph</button>


  </div>
</div>