<script type="text/javascript" src="/js/graph.js"></script>
<script type="text/javascript" src="/js/tree.js"></script>

<script>
	$(window).resize(function() { 
		renderGraph(); 
	});
	$(document).ready( function(){ 
		renderTree();
		renderGraph(); 
	});
</script>

<div class="row">
  <div id="tree" class="col-sm-7">
  </div>
  <div id="preview" class="col-sm-5">
    <h3>Preview</h3>
    <br>
    <div class="graph">
		<p class="id">#003</p>
		<p class="lineage"><span class="tag">#001</span> <strong>divided</strong> by <span class="tag">#002</span></p>
		<h3 class="title">Fig. 3</h3>
		<div class="plot">
			
		</div>
	</div>
  </div>
</div>