<div class="row">
	<div id="treeviewContainer" class="col-sm-7">
	  <div id="treeview"></div>
	</div>
  <div id="preview" class="col-sm-5">
    <div class="graph">
		<div graphid="" id="plot-preview" class="plot"></div>
	</div>

	<div class="btn-group">
		<button id="create-graph" class="btn btn-primary operate"><i class="glyphicon glyphicon-plus"></i> Analyze</button>
		<button id="edit-graph" class="btn btn-default operate"><i class="glyphicon glyphicon-cog"></i> Edit</button>
		<button id="export-graph" class="btn btn-default operate"><i class="glyphicon glyphicon-cloud-download"></i> Download</button>
		<button id="delete-graph" class="btn btn-default operate"><i class="glyphicon glyphicon-remove"></i> Delete</button>
	</div>
  </div>
</div>