<div class="card-box active-box">
    <h2 class="text-left">Current Tasks:</h2>
    <br/>

    <h3 class="text-left">Airbus:</h3>
    <div class="progressbar"></div>
    <br/>

    <h3 class="text-left">Bombardier:</h3>
    <div class="progressbar"></div>
    <br/>

    <h3 class="text-left">Boeing:</h3>
    <div class="progressbar"></div>
    <br/>

    <h3 class="text-left">Phfizer:</h3>
    <div class="progressbar"></div>
    <br/>

    <h3 class="text-left">Procter & Gamble:</h3>
    <div class="progressbar"></div>
    <br/>

    <h3 class="text-left">Virigin Galactic:</h3>
    <div class="progressbar"></div>
    <br/>
</div>