<div id="operationContainer">
  <div class="row">
    <div class="analysis col-sm-6">
  	 <div class="graph">
  		<div id="plot-before-titlebar">
        <p class="text-left"><span class="graphid"></span></p>
      </div>
  		<div id="plot-before" class="plot">
  		</div>
  	</div>
  </div>
  <div class="analysis col-sm-6">
  	<div class="graph">
  		<div id="plot-after-titlebar">
        <p class="text-left"><span class="graphid"></span></p>
      </div>
  		<div id="plot-after" class="plot">
  		</div>
  	</div>
    </div>
  </div>
</div>
<div id="operate">
  <div class="row">
    <div class="col-sm-4">
      <div class="btn-group">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Calculus <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a id="calculus_differentiate" class="opbutton">Derivative</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Background <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a id="stats_poly_regression" class="opbutton">Polynomial Regression</a></li>
            <li><a id="background_spline" class="opbutton">Spline Interpolation</a></li>
            <li><a id="background_spline_smooth" class="opbutton">Spline Smoothing</a></li>
            <li><a id="background_linear_subtract" class="opbutton">Linear Subtraction</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Transforms <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a id="transform_fourier" class="opbutton">Fourier Transform</a></li>
            <li><a id="transform_k_space_transform" class="opbutton">Inverse-Space Transform</a></li>
            <li><a id="transform_x_weight" class="opbutton">X-Power Weighting</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Filters <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a id="minmax_clip" class="opbutton">X-Axis Crop</a></li>
            <li><a id="transform_gaussian_filter" class="opbutton">Gaussian Window</a></li>
          </ul>
        </div>
      </div>
      <p id="operate-explain"></p> 
    </div>
    <div class="col-sm-3">
      <div id="minmax-display">
        <p>X at Y-min: <span id="xymin-display"></span></p>
        <p>Y-min: <span id="ymin-display"></span></p>
        <br />
        <p>X at Y-max: <span id="xymax-display"></span></p>
        <p>Y-max: <span id="ymax-display"></span></p>
      </div>
    </div>
    <div class="col-sm-5">
      <div id="operate-options" class="text-box">
        <div id="operate-textbox"></div>
        <div id="operate-textbox2"></div>
        <div id="operate-textbox3"></div>
        <div id="operate-textbox4"></div>
        <div id="operate-help" class="text-center" ></div>
      </div>
    </div>
  </div>
</div>
<div id="operate-done-container">
<button id="operate-done" class="btn btn-md btn-success">Apply Operation</button>
</div>