@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);
.main-font {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 300;
}
.thin-font {
  font-weight: 100;
}
.strong-font {
  font-weight: 700;
}
html,
body {
  height: 100%;
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 300;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
p {
  padding: 1em;
}
h1,
h2,
h3,
h4 {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 480px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 16px;
  }
}
form {
  width: 100%;
  padding: 1em;
  margin: 2em auto;
  text-align: center;
}
form #email-input {
  width: 60%;
  height: 2.2em;
  padding: 1em;
  font-size: 18px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  form #email-input {
    font-size: 12px;
  }
}
form #submit-button {
  width: 8em;
  padding: 0.2em 1em 0.2em 1em;
  margin-top: 1em;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  form #submit-button {
    font-size: 12px;
  }
}
.bordered {
  border: 4px #1f90c1 solid;
}
@media screen and (max-width: 480px) {
  .bordered {
    border: 2px #1f90c1 solid;
  }
}
.rounded {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: brightness(45%);
  z-index: -9999;
}
.jumbotron {
  min-height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 10em;
  text-align: center;
  background: transparent;
}
@media screen and (max-width: 480px) {
  .jumbotron {
    font-size: 18px;
  }
}
.jumbotron h3 {
  color: white;
}
.jumbotron .header {
  width: 70%;
  padding: 3em;
  margin: 0 auto;
  -webkit-filter: none;
}
@media screen and (max-width: 480px) {
  .jumbotron .header {
    font-size: 12px;
  }
}
.jumbotron .header #logo-image {
  width: 60%;
}
@media screen and (max-width: 480px) {
  .jumbotron .header #logo-image {
    width: 100%;
  }
}
.jumbotron .header #signup {
  display: block;
  font-size: 20px;
  padding: 0.4em 1.2em;
  margin: 2em auto;
  font-weight: 100;
}
.jumbotron .header #signup a {
  text-decoration: none;
  color: #ffffff;
}
.jumbotron .header #signup a:hover {
  text-decoration: none;
  border: none;
}
@media screen and (max-width: 480px) {
  .jumbotron .header #signup {
    font-size: 12px;
  }
}
.feature-img {
  background: #1a62aa;
  display: block;
  margin: 1em auto;
  padding: 0.8em;
  height: 4em;
}
.explain-img {
  background: transparent;
  display: block;
  margin: 2.5em auto 1em auto;
  padding: .3em;
  height: 5em;
  border: 4px #1f90c1 solid;
}
@media screen and (max-width: 480px) {
  .explain-img {
    border: 2px #1f90c1 solid;
  }
}
@media screen and (max-width: 480px) {
  .explain-img {
    margin: 2.5em auto 0.5em auto;
  }
}
.block {
  padding: 4em;
}
@media screen and (max-width: 480px) {
  .block {
    font-size: 14px;
    padding: 2em;
  }
}
.contrast-block {
  padding: 4em;
  background: #e5e5e5;
}
@media screen and (max-width: 480px) {
  .contrast-block {
    font-size: 14px;
    padding: 2em;
  }
}
.dark-block {
  padding: 4em;
  color: #ffffff;
  background: #000000;
}
@media screen and (max-width: 480px) {
  .dark-block {
    font-size: 14px;
    padding: 2em;
  }
}
.inst {
  display: inline;
  padding: 0;
  margin: 1em;
  height: 5em;
}
@media screen and (max-width: 480px) {
  .inst {
    height: 2em;
  }
}
.social {
  padding: 0.3em;
  margin: 0 0.3em;
  border: 4px #1f90c1 solid;
}
@media screen and (max-width: 480px) {
  .social {
    border: 2px #1f90c1 solid;
  }
}
@media screen and (max-width: 480px) {
  .social {
    height: 3em;
  }
}
a.darkencss {
  display: inline-block;
  padding: 0;
}
a.darkencss img {
  display: block;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
a.darkencss:hover img {
  -webkit-filter: brightness(20%);
}
a.darkencss:hover img.social {
  border: 4px #1a62aa solid;
  -webkit-filter: brightness(100%);
}
@media screen and (max-width: 480px) {
  a.darkencss:hover img.social {
    border: 2px #1a62aa solid;
  }
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
