//Colors
@primary: #1A62AA;
@secondary: #1F90C1;
@tertiary: #E5E5E5;
@white: #FFFFFF;
@black: #111111;
@success: #2ecc71;
@translucent-black: rgba(0,0,0,0.8);

//Typography
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);
.main-font {
	font-family: 'Lato', 'Helvetica Neue', 'Arial';
	font-weight: 300;
}
.thin-font {
	font-weight: 100;
}
.strong-font {
	font-weight: 700;
}

//General
html, body {
	height: 100%;
	.main-font;
	font-size: 20px;
	@media screen and (max-width: 480px) {font-size: 12px;}
}
p {
	padding: 1em;
}
h1, h2, h3, h4 {
	.main-font;
	margin: 0;
	padding: 0;
	@media screen and (max-width: 480px) {font-size: 16px;}
}

//Geometry
.bordered {
	border: 2px @secondary solid;
	@media screen and (max-width: 480px) {border: 1px @secondary solid;}
}
.rounded {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.shadowed {
	-webkit-box-shadow: 0px 2px 2px @tertiary;
  -moz-box-shadow:    0px 2px 2px @tertiary;
  box-shadow:         0px 2px 2px @tertiary;
}


//Objects
#background {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url("../img/background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    -webkit-filter: blur(3px) brightness(35%);
    z-index: -9999;
}
.jumbotron {
	min-height: 100%;
	padding: 0;
	margin: 0;
	padding-top: 5%;
	text-align: center;
	background: transparent;
	@media screen and (max-width: 480px) {font-size: 18px;}
	@media screen and (max-height: 540px) {padding-top: 3%;}
	@media screen and (max-width: 740px) {padding-top: 3%;}

	hr {
		width: 70%;
	}

	h3 {
		color: white;	
	} 

	.header {
		width: 100%;
		padding: 3em;
		margin: 0 auto;
		-webkit-filter: none;
		@media screen and (max-width: 480px) {font-size: 12px;}
		@media screen and (max-height: 540px) {padding: 1.5em;}

		#logo-image {
			width: 60%;
			padding-top: 3em;
			-webkit-filter: none;
			@media screen and (max-width: 480px) {width: 100%;padding-top: 0;}
			@media screen and (max-width: 740px) {padding-top: 0;}
		}

		#signup {	
			display: block;
			padding: 0;
			margin: 3em auto 0 auto;
			-webkit-filter: none;

			a {
				text-decoration: none;
				color: @white;
			}
			a:hover {
				text-decoration: none;
				border: none;
			}

			@media screen and (max-width: 480px) {font-size: 14px;}
			@media screen and (max-height: 540px) {margin-top: 0.5em;}
		}
	}	
}


.signup-btn {
		font-size: 26px;
		padding: .4em 1.2em;
	}
.feature-img {
	background: transparent;
	display: block;
	margin: 1em auto;
	padding: 0;
	width: 16em;
	height: 16em;
}
.face-img {
	width: 30%;
}
.explain-img {
	background: transparent;
	display: block;
	margin: 2.5em auto 1em auto;
	padding:0;
	width: 90%;
	@media screen and (max-width: 480px) {margin: 2.5em auto 0.5em auto;}
}

.block {
	padding: 2em 4em 2em 4em;
	@media screen and (max-width: 480px) {font-size: 14px;padding: 2em;}
}
.contrast-block {
	padding: 2em;
	background: @tertiary;
	@media screen and (max-width: 480px) {font-size: 14px;padding: 2em;}

	a {
		color: #555555;
	}
	a:hover {
		text-decoration: none;
	}
}
.contact-block {
	padding: 7em 0 3em 0;
	color: @white;
	@media screen and (max-width: 480px) {font-size: 14px;padding: 2em;}

	background-image: url("../img/toronto_map.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.inst {
	display: inline;
	padding: .2em;
	margin: .5em;
	height: 3em;
	@media screen and (max-width: 480px) {height: 2em;}
}
.media {
	display: inline;
	padding: 0;
	margin:  0 0.5em;
	height: 3.0em;
	@media screen and (max-width: 480px) {height: 2em;}
}
.social {
	padding: 0.3em;
	margin:  0 0.3em;
	.bordered;
	@media screen and (max-width: 480px) {height: 3em;}
}

a.darkencss {
    display: inline-block;
    //background: black;
    padding: 0;
}
a.darkencss img, a.darkencss p {
    //display: block;
   
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}
a.darkencss:hover img, a.darkencss:hover p {
    -webkit-filter: brightness(20%);
}
a.darkencss:hover img.social:hover {
    border: 2px @primary solid;
    -webkit-filter: brightness(100%);
    @media screen and (max-width: 480px) {border: 1px @primary solid;}
}
#carousel-container {
	width: 80%;
	//height: 100%;
	margin: 0 auto;
	padding: 2% 1% 24% 1%;
	background-image: url("../img/imac.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	@media screen and (max-width: 480px) {margin-top: 1em;padding: 3% 3% 18.5% 3%;}
	@media screen and (max-width: 740px) {margin-top: 2em;width:60%;height:60%;padding:  2% 1% 16.5% 1%;}
}

//Bootstrap Overrides
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.jumbotron {
	margin: 0;
}
.btn-clear {
	border: 2px solid white;
	background: transparent;
	color: white;

	-webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.btn-clear:hover {
	text-decoration: none;
	text-transform: none;
	color: @secondary;
	border: 2px solid @secondary;
}
.jumbotron p {
	text-align: left;
	color: white;
	padding: 0;
}
.table {
	width: 70%;
	margin: 0 auto;
}